<h1>Index</h1>
<nav>
    <a href="/">Index</a>
    <a href="/research_papers">Research Papers</a>
    <a href="/citations">Citations</a>
    <a href="/authors">Authors</a>
    <a href="/research_papers_authors">Research Papers to Authors</a>
    <a href="/institutions">Institutions</a>
    <a href="/disciplines">Disciplines</a>
</nav>

<form>
    <legend>Add citation</legend>
    <label>Citing Paper </label><select>
        <option disabled selected value>Select</option>
        <option>Anglo-Saxon Class Dynamics and Migration</option>
        <option>An Overview of Antipsychotic Drug Kinetics</option>
        <option>Celtic Tradition in Beowulf</option>
        <option>Grapefruit Juice Interactions with Antipsychotic Medicine</option>
        <option>Schizophrenia Treatment Models</option>
        </select>
    <label>Referenced </label><select>
        <option disabled selected value>Select</option>
        <option>Anglo-Saxon Class Dynamics and Migration</option>
        <option>An Overview of Antipsychotic Drug Kinetics</option>
        <option>Celtic Tradition in Beowulf</option>
        <option>Grapefruit Juice Interactions with Antipsychotic Medicine</option>
        <option>Schizophrenia Treatment Models</option>
    </select>
    <input type="submit">
</form>

<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.citation_id}}</td>
            <td>{{this.citing_paper_id}}</td>
            <td>{{this.cited_paper_id}}</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>