<h1>Research Papers</h1>
<nav>
    <a href="/">Index</a>
    <a href="/research_papers">Research Papers</a>
    <a href="/citations">Citations</a>
    <a href="/authors">Authors</a>
    <a href="/research_papers_authors">Research Papers to Authors</a>
    <a href="/institutions">Institutions</a>
    <a href="/disciplines">Disciplines</a>
</nav>

<form>
  <label>Field </label><input type="text" />
  <input type="submit" />
</form>

<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.discipline_id}}</td>
            <td>{{this.field}}</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>