<html lang="en">
  <head>
    <h1>Table Index</h1>
  </head>
  <body>
    <main>
      <section>
        <p>
          <a href="/research_papers">Research Papers</a>: All publications by
          title, digital object identifier (DOI), institution, or discipline
        </p>
        <p>
          <a href="/citations">Citations</a>: Papers citing, or cited by, other
          publications
        </p>
        <p>
          <a href="/authors">Authors</a>: Those who wrote the paper may, or may
          not, affiliate with an institution
        </p>
        <p>
          <a href="/research_papers_authors">Research Papers to Authors</a>:
          Some publications have more than one author and vice-versa
        </p>
        <p>
          <a href="/institutions">Institutions</a>: For papers not penned by
          independent researchers
        </p>
        <p>
          <a href="/disciplines">Disciplines</a>: Relevant research fields
        </p>
      </section>

    </main>
  </body>
</html>