<h1>Index</h1>
<nav>
    <a href="/">Index</a>
    <a href="/research_papers">Research_Papers</a>
    <a href="/citations">Citations</a>
    <a href="/authors">Authors</a>
    <a href="/institutions">Institutions</a>
    <a href="/disciplines">Disciplines</a>
</nav>