<!DOCTYPE html>
<html lang="en">
<head>
<h1>Index</h1>
</head>
<nav>
    <a href="/">Index</a>
    <a href="/research_papers">Research Papers</a>
    <a href="/citations">Citations</a>
    <a href="/authors">Authors</a>
    <a href="/research_papers_authors">Research Papers to Authors</a>
    <a href="/institutions">Institutions</a>
    <a href="/disciplines">Disciplines</a>
</nav>
</html>