/* links */
a {
	color: blue;
	font-weight: bold;

	:hover {
		cursor: pointer;
	}
}

/* headings */
h1,
h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	margin: 10;
}

/* nav bar */
nav {
	display: flex;
	justify-content: flex-start;
	margin: 10 10 30 10;
}

nav a {
	margin-right: 13;
}

/* content */
body {
	background-color: #f2f2f2;
	font-family: "Roboto", sans-serif;
}

section {
	margin-left: 40;
}

p {
	margin-left: 10;
}

/* inputs */
form {
	margin: 10;
}

.add-update-research_papers {
	display: flex;
	justify-content: center;
	margin: 20 0 0 0;
}

.add-update-research_papers > div {
	flex: 1;
	padding: 10px;
}

.add-update-research_papers h2 {
	text-align: center;
	margin-bottom: 10px;
}

label, input {
	display: block;
}

label {
	margin-top: 5;
}

input[type=submit] {
	margin-top: 8;
}

/* tables, data */
table {
	border-collapse: collapse;
	margin: 0 auto;
	width: max-content;
}

th,
tr,
td {
	border: 2px solid;
	padding: 5;

	.title-cell {
		text-align: left;
	}

	.research_paper_id-cell,
	.institution_id-cell,
	.discipline_id-cell {
		text-align: center;
	}

	.date_published-cell,
	.doi-cell {
		text-align: right;
	}
}

.delete-button {
	margin: 5;
}
