/* a {
	color: blue;
	font-weight: bold;
}
a:hover {
	cursor: pointer;
}

h1,
h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	margin: 10;
}

nav {
	display: flex;
	justify-content: flex-start;
	margin: 10 10 30 10;
}

nav a {
	margin-right: 13;
}

body {
	background-color: #f2f2f2;
	font-family: "Roboto", sans-serif;
}

section {
	margin-left: 40;
}

p {
	margin-left: 10;
}

form {
	margin: 10;
}

.add-update-research_papers {
	display: flex;
	justify-content: center;
	margin: 20 0 0 0;
}

.add-update-research_papers > div {
	flex: 1;
	padding: 10px;
}

.add-update-research_papers h2 {
	text-align: center;
	margin-bottom: 10px;
}

label, input {
	display: block;
}

label {
	margin-top: 5;
}

input[type=submit] {
	margin-top: 8;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: max-content;
}

th,
tr,
td {
	border: 2px solid;
	padding: 5;
}

td.title-cell {
	text-align: left;
}

td.research_paper_id-cell, td.institution_id-cell, td.discipline_id-cell {
	text-align: center;
}

td.date_published-cell, td.doi-cell {
	text-align: right;
}

.delete-button {
	margin: 5;
} */